{% extends "base.html" %}

{% block content %}
<div class="row mt-4">
  <div class="col-sm text-center">
    <h3 class="mb-4 text-left">Pies by {{ user.first_name }}</h3>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
      {% for pie in pies %}
        <tr>
          <td>{{ pie.name }}</td>
          <td>
            <a href="/pies/edit/{{ pie.id }}/">edit</a>
            |
            <a href="/pies/delete/{{ pie.id }}/">delete</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-sm text-left">
    <h3 class="mb-4 text-left">Add a New Pie</h3>
    <form action="/pies/add/" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" name="name" class="form-control" id="exampleInputEmail1">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Filling</label>
        <input type="text" name="filling" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Crust</label>
        <input type="text" name="crust" class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-primary">Add Pie</button>
      {% if messages %}
      <ul>
        {% for message in messages %}
          <li class="text-danger">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    </form>
  </div>
</div>
<a href="/pies/">Go to All Pies</a>
{% endblock %}
